<%- include('partials/header')%>

<title>Sportovní sázení</title>

<%- include('partials/navbar')%>

<h1>Hlavní stránka</h1>

<p>Zde jsou nějaké úvodní sračečky ENJOY!</p>

<%- include('partials/footer')%>